__pycache__/
.vscode/
.venv/
raw_data/
log/
results/
build/
.Xil/
work/
amd/
miscelaneas/
output/
flist/
.rigel_lopper/
*_application/
*_platform/
_ide/
track.*/
~$*
*.pdf
*.str
*.logfile
*.docx
*.doc
*.h5
*.tar
*.zip
*.bkp
*.epub
*.npy
*.npz
*.rpt
*.log
*.xsa
*.dat
*.jou
*.dcp
*.flist